<div class="post">
    <h2 class="post-title" [ngClass]="{ 'text-center': fromHome }">
        <a>title</a>
    </h2>
    <h4 class="post-title" [ngClass]="{ 'text-center': fromHome }">
        <a>subtitle</a>
    </h4>
    <p class="post-meta" *ngIf="!fromHome">
        <i class="fa fa-calendar-o first"></i> created_at
        <i class="fa fa-user"></i> Admin
        <i class="fa fa-comment"></i>
        <a href="#">0 comentarios</a>
        <i class="fa fa-folder-open-o"></i> category
    </p>
    <a href="" class="img-post">
        <img src="" alt="" class="img-responsive">
    </a>
    <p style="word-wrap: break-word;"></p>
    <a class="btn btn-primary" href="javascript:;">Seguir leyendo <i class="fa fa-angle-right"></i></a>
</div>