<ion-row>
    <ng-container *ngIf="changePasswordStepStatus === 0"><ng-container *ngTemplateOutlet="currentPassword"></ng-container></ng-container>
    <ng-container *ngIf="changePasswordStepStatus === 1"><ng-container *ngTemplateOutlet="newPassword"></ng-container></ng-container>
</ion-row>

<ng-template #currentPassword>
    <ion-col col-lg-8 col-lg-offset-2 col-12 class="text-center">
        <p class="modal-label">Contraseña actual</p>
        <input type="password" placeholder="******" class="modal-input" />
    </ion-col>
</ng-template>

<ng-template #newPassword>
    <ion-col col-lg-8 col-lg-offset-2 col-12 class="text-center">
        <p class="modal-label">Contraseña</p>
        <input type="text" placeholder="Tu nombre" class="modal-input" />
        <p class="modal-label">Repetir contraseña</p>
        <input type="text" placeholder="@username" class="modal-input" />
    </ion-col>
</ng-template>