.bg-login{
    background-image: url('../../assets/imgs/laptop_2.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-section {
    height: 100%;
    // background-color: color($colors, primary, base);
}

.bg-section h2 {
    color: white;
    font-weight: bold;
}

.bg-section input {
    border-radius: 5px;
    width: 90%;
    margin: auto;
}

.bg-section label {
    text-align: center;
    width: 100%;
    color: color($colors, light, base);
    margin-bottom:10px;
}

.bg-section p {
    text-align: center;
}

.buttons-login {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.buttons-login button {
    width: 49%;
}

.login-form {
    background-color: color($colors, green-main, base);
    padding: 25px;
    border-radius: 5px;
    border: 2px;
    box-shadow: 1px 3px 3px rgba(51, 51, 51, .35);
    // border-color: color($colors, green-main-op, base);
}

.login-form input {
    text-align: center;
    color: color($colors, dark-light, base); 
}

.polsastre-ico {
    opacity: 1;
    border-radius: 0px;
    // box-shadow: 2px 5px 20px color($colors, dark-light, base);
    cursor: pointer;
}

@media(max-width: 768px) {
    .polsastre-ico {
        width: 100%;
    }
    .bg-login {
        background-color: color($colors, green-main, base);
    }
}

@media screen and (orientation:landscape) {
    .polsastre-ico {
        width: 70%;
        margin-left: 15%;
    }
}