.bg-login{
    /*background-image: url('../../assets/imgs/laptop_2.png');*/
    background-color: color($colors, green-main, base);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-section {
    height: 100%;
    // background-color: color($colors, primary, base);
}

.bg-section h2 {
    color: white;
    font-weight: bold;
}

.bg-section input {
    border-radius: 5px;
    width: 90%;
    margin: auto;
}

.bg-section label {
    text-align: center;
    width: 100%;
    color: color($colors, light, base);
    margin-bottom:10px;
}

.bg-section p {
    text-align: center;
}

.buttons-login {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.buttons-login button {
    width: 49%;
}

.login-form {
    background-color: color($colors, dark-light-op, base);
    padding: 15px;
    border-radius: 5px;
    border: 2px;
    // border-color: color($colors, green-main-op, base);
}

.login-form input {
    text-align: center;
    color: color($colors, dark-light, base); 
}

.polsastre-ico {
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 2px 5px 20px color($colors, dark-light, base);
    cursor: pointer;
}