<ion-content class="app-modal">
    <div class="overlay" (click)="cancel()"></div>
    <div class="modal_content">
        <div class="personal-info-data">
            <div>
                <div class="half-bg"></div>
                <div class="left-side-container no-opacity circle-img"></div>
            </div>
            <ion-grid>
                <app-profile-user-data-modal-personal-info 
                    [profileData]="profileData"
                    *ngIf="profileModalType === PERSONAL_INFO">
                </app-profile-user-data-modal-personal-info>
                <app-profile-user-data-modal-change-password #profileUserDataModalChangePassword
                    [profileData]="profileData"
                    [changePasswordStepStatus]="changePasswordStepStatus"
                    (updateChangePasswordStatus)="onUpdateChangePasswordStatus($event)"
                    *ngIf="profileModalType === CHANGE_PASSWORD">
                </app-profile-user-data-modal-change-password>
                <app-profile-user-data-modal-cancel-account 
                    [profileData]="profileData"
                    *ngIf="profileModalType === CANCEL_ACCOUNT">
                </app-profile-user-data-modal-cancel-account>
            </ion-grid>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="position-bottom">
            <button *ngIf="profileModalType === PERSONAL_INFO" class="confirm-button-alone" (click)="accept()">Actualizar</button>
            <button *ngIf="profileModalType === CHANGE_PASSWORD" class="confirm-button-alone" (click)="addChangePasswordStep()">{{ changePasswordCurrentButtonValue }}</button>
            <button *ngIf="profileModalType === CANCEL_ACCOUNT" class="confirm-button-alone-danger" (click)="cancelAccount()">Cancelar cuenta</button>
        </div>
    </div>
</ion-content>