<ion-content class="app-modal">
    <div class="overlay" (click)="cancel()"></div>
    <div class="modal_content">
        <div class="personal-info-data">
            <div>
                <div class="half-bg"></div>
                <div class="left-side-container no-opacity circle-img"></div>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col col-lg-6 col-12 class="text-center">
                            <p class="modal-label">Nombre</p>
                            <input type="text" class="modal-input" />
                            <p class="modal-label">Apellidos</p>
                            <input type="text" class="modal-input" />
                    </ion-col>
                    <ion-col col-lg-6 col-12 class="text-center">
                            
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>