<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
        <a class="navbar-brand" routerLink="/home">Pol Sastre</a>
      </div>
  
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="navigateHome()">Home</a></li>
          <li><a (click)="navigatePortfolio()">Portfolio</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Other Pages <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="full-width.html">Full Width Page</a></li>
              <li><a href="sidebar.html">Sidebar Page</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="404.html">404</a></li>
            </ul>
          </li>-->
          <li><a routerLink="/contacto">Contacto</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/admin">Admin</a></li>
        </ul>
      </div>
    </div>
  </nav>
