app-nav {
    .navbar-header {
        text-align: right;
    }
    
    .nav-button-background-color {
        background-color: color($colors, green-main, base);
        color: white;
        font-size: 30px;
        padding-top: 10px;
        padding-right: 20px;
    
    }
    
    @media (min-width: 767px) {
        .nav-button-background-color {
            display: none;
        }
    }
}