<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle nav-button-background-color" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="javascript:;" class="navbar-brand" (click)="navigateHome()">Pol Sastre</a>
      </div>
  
      <div class="collapse navbar-collapse navbar-ex1-collapse nav-button">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="javascript:;" (click)="navigateHome()">Home</a></li>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="javascript:;" (click)="navigateBlog()">Blog</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Idioma <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li><a data-toggle="collapse" data-target=".navbar-collapse" href="javascript:;" (click)="translate('spanish')">Español</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-collapse" href="javascript:;" (click)="translate('english')">Ingés</a></li>
            </ul>
          </li>
          <li><a href="javascript:;" (click)="navigateLogin()">Login</a></li>
          <li *ngIf="false"><a href="javascript:;" (click)="navigateLogin()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
