<ul class="nav nav-tabs" id="widgetTab">
    <li class="active">
        <a href="#latest-news" data-toggle="tab">Recientes</a>
    </li>
    <li>
        <a href="#popular-news" data-toggle="tab">Populares</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active list-posts" id="latest-news">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-caret-right"></i> recent title</a>
            </li>
        </ul>
    </div>
    <div class="tab-pane fade list-posts" id="popular-news">
        <ul>
            <li>
                <a href="">>
                    <i class="fa fa-caret-right"></i> recent title</a>
            </li>
        </ul>
    </div>
</div>