<div class="section-colored">

    <div class="container">
        <h3 class="section-title text-center">Conocimientos</h3>
        <br/>

        <div class="container clients">

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/android.png" alt="android">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/apple.png" alt="apple.png">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/angular.png" alt="angular">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/laravel.png" alt="laravel">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/spring.png" alt="spring">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/ionic.png" alt="ionic">
                </div>
            </div>

        </div>

        <div class="container clients">

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/mysql.png" alt="mysql">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/mongodb.png" alt="mongodb">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/bootstrap.png" alt="bootstrap">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/languages.png" alt="html css js">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/jquery.png" alt="jquery">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <img class="img-responsive" src="assets/template/img/firebase.png" alt="firebase">
                </div>
            </div>

        </div>

    </div>

</div>