$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

.circle-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-width: 1px;
    border-color: color($colors, green-main, base);;
    background-color: white;
    position: relative;
}

.half-bg {
    background: color($colors, green-main, base);
    color: color($colors, dark-light, base) !important;
    position: absolute;
    height: 80px;
    left: 0px;
    top: 0px;
    right: 0px;
}

.img-country-flat {
    width: 25px;
    opacity: 1;
}

.img-flat-second {
    width: 90px;
    margin-left: 15px;
}

.margin-left-0 {
    margin-left: 0px !important;
}