$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #444,
  dark-medium: rgba(70, 70, 70, 0.9),
  dark-light: rgba(130, 130, 130, 1),
  dark-light-op: rgba(200, 200, 200, 0.3),
  green-main: rgb(26, 188, 156),
  green-main-op: rgba(26, 188, 156, 0.3),
  red-light: rgb(247, 100, 100)
);

$background-md-color: transparent;

@import "ionic.theme.default";
@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
@import "imports";