<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <p class="footer-brand">Pol Sastre</p>
        <p>Desarrollo
          <b>Android</b>,
          <b>iOS</b> y
          <b>Web</b>
        </p>
      </div>
    </div>

  </div>
</footer>

<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2017 Todos los derechos reservados. Diseñado por Jose Manuel Pol Sastre.</p>
      <p class="col-md-2 legal">
      </p>
    </div>
  </div>
</div>