<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2">
        <a class="footer-brand" href="/home">Pol Sastre</a>
        <p>Desarrollo
          <b>Android</b>,
          <b>iOS</b> y
          <b>Web</b>
        </p>
        <!--<ul class="list-inline list-unstyled social-networks">
                                <li>
                                  <a href="#">
                                    <div class="icon-social icon-social-facebook normal">
                                      <i class="fa fa-facebook"></i>
                                    </div>
                                    <div class="icon-social hover">
                                      <i class="fa fa-facebook"></i>
                                    </div>
                                  </a>
                                </li>
                      
                                <li>
                                  <a href="#">
                                    <div class="icon-social icon-social-twitter normal">
                                      <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="icon-social hover">
                                      <i class="fa fa-twitter"></i>
                                    </div>
                                  </a>
                                </li>
                      
                                <li>
                                  <a href="#">
                                    <div class="icon-social icon-social-google-plus normal">
                                      <i class="fa fa-google-plus"></i>
                                    </div>
                                    <div class="icon-social hover">
                                      <i class="fa fa-google-plus"></i>
                                    </div>
                                  </a>
                                </li>
                      
                                <li>
                                  <a href="#">
                                    <div class="icon-social icon-social-youtube normal">
                                      <i class="fa fa-youtube-play"></i>
                                    </div>
                                    <div class="icon-social hover">
                                      <i class="fa fa-youtube-play"></i>
                                    </div>
                                  </a>
                                </li>
                      
                                <li>
                                  <a href="#">
                                    <div class="icon-social icon-social-linkedin normal">
                                      <i class="fa fa-linkedin"></i>
                                    </div>
                                    <div class="icon-social hover">
                                      <i class="fa fa-linkedin"></i>
                                    </div>
                                  </a>
                                </li>
                              </ul>-->
      </div>
      <div class="col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2">
        <h3>CONTACTO</h3>
        <address>
          <i class="fa fa-phone"></i> (34) 637 60 59 73
          <br>
          <br/>
          <i class="fa fa-envelope"></i> polsastre3@gmail.com
        </address>
      </div>

      <!--<div class="col-lg-3 col-md-3">
                              <h3>ÚLTIMOS TWEETS</h3>
                              <ul class="latest-tweets">
                                <li>
                                  <i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing
                                </li>
                                <li>
                                  <i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing
                                </li>
                              </ul>
                            </div>-->

      <!--<div class="col-lg-4 col-md-4">
                              <h3>NEWSLETTER</h3>
                              <p>Escribe tu email y subscríbete</p>
                              <div class="input-group">
                                <input type="text" placeholder="Email" class="form-control">
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="button">Enviar!</button>
                                </span>
                              </div>
                            </div>-->
    </div>

  </div>
</footer>

<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2017 Todos los derechos reservados. Diseñado por Jose Manuel Pol Sastre.</p>
      <p class="col-md-2 legal">
        <a href="#" rel="nofollow"></a>
      </p>
    </div>
  </div>
</div>