<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <p class="footer-brand">Pol Sastre</p>
        <p>
          <b>Android</b>,
          <b>iOS</b> &
          <b>Web</b> Development
        </p>
      </div>
    </div>

  </div>
</footer>

<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2017 All rights reserved. Created by Jose Manuel Pol Sastre.</p>
      <p class="col-md-2 legal">
      </p>
    </div>
  </div>
</div>