<app-nav></app-nav>
<ion-content>
    <app-breadcrumb [title]="'Admin'"></app-breadcrumb>

    <div class="container">
        <div>
            <ion-grid>
                <ion-row class="row admin-button-list">
                    <ion-col col-lg-4 col-12>
                        <button (click)="changeComponent('posts')" 
                            class="profile-left-btn" ion-button color="info">Posts</button>
                    </ion-col>
                    <ion-col col-lg-4 col-12>
                        <button (click)="changeComponent('add')"
                            class="profile-left-btn" ion-button color="info">Add</button>
                    </ion-col>
                    <ion-col col-lg-4 col-12>
                        <button (click)="deletePosts()" [disabled]="deleteButtonDisabled"
                            class="profile-left-btn" ion-button color="info">Delete</button>
                    </ion-col>
                    <!--<ion-col col-lg-3 col-12>
                        <button (click)="updatePosts()"
                            class="profile-left-btn" ion-button color="info">Modificar</button>
                    </ion-col>-->
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div [ngSwitch]="currentComponent" class="component">
                            <div *ngSwitchCase="'posts'">
                                <ion-scroll scrollX scrollY class="ion-scroll-table">
                                    <div class="scroll-item">
                                        <table class="posts-table">
                                            <tr class="posts-table-header">
                                                <td></td>
                                                <td>TITLE</td>
                                                <td>SUBTITLE</td>
                                                <td>CREATED AT</td>
                                                <td>MODIFIED AT</td>
                                                <td>CATEGORY</td>
                                                <td>AUTHOR</td>
                                                <td>COMMENTS</td>
                                                <td>ID</td>
                                            </tr>
                                            <tr *ngFor="let post of posts; let i = index" [ngClass]="i % 2 === 0 ? 'bg-green':'color-grey'">
                                                    <td><input type="checkbox" (change)="someCheckboxChanged($event, i)" /></td>
                                                    <td>{{ post.title }}</td>
                                                    <td>{{ post.subtitle }}</td>
                                                    <td>{{ post.createdAt }}</td>
                                                    <td>{{ post.modifiedAt }}</td>
                                                    <td>{{ post.category }}</td>
                                                    <td>{{ post.creator }}</td>
                                                    <td>{{ post.comments }}</td>
                                                    <td>{{ post._id }}</td>
                                                    <td><button class="modify-button" ion-button full type="button" (click)="seePost(post)">See post!</button></td>
                                                    <td><button class="modify-button" ion-button full type="button" (click)="navToModify(post)">Modify!</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </ion-scroll>
                            </div>
                            <div *ngSwitchCase="'add'">
                                <form [formGroup]="addPostFormGroup" class="add-post-form" (ngSubmit)="addOrUpdatePost(addPostFormGroup.value, addPostFormGroup.valid)">
                                    <ion-row>
                                        <ion-col col-lg-12>
                                            <ion-input class="add-post-input-text" formControlName="title" type="text" clearInput placeholder="Title"></ion-input>
                                            <br/>
                                            <ion-input class="add-post-input-text" formControlName="subtitle" type="text" clearInput placeholder="Subtitle"></ion-input>
                                            <br/>
                                            <ion-item no-lines style="height: 30px"><ion-select formControlName="category" class="select-category">
                                                <ion-option value="">Categories</ion-option>
                                                <ion-option *ngFor="let category of categories" value="{{category.name}}">{{ category.name }}</ion-option>
                                            </ion-select></ion-item>
                                            <br/>
                                            <ion-textarea class="textarea" formControlName="text" placeholder="HTML post text"></ion-textarea>
                                        </ion-col>
                                        <br/>
                                    </ion-row>
                                <br/>
                                <div class="post-preview" [innerHTML]="addPostFormGroup.controls.text.value"></div><br/>
                                <button class="add-post-button" ion-button large full type="submit">{{ isModifyingPost ? 'Modify' : 'Add' }}</button>
                            </form>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>