<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="block-icon">
                    <i class="fa fa-pencil"></i>
                </div>

                <div class="block-body">
                    <h2>
                        <b>Creatividad</b>
                    </h2>
                    <div class="line-subtitle"></div>
                    <p>Esfuerzo por conseguir el
                        <b>mejor diseño</b>
                        <br/> Sencillo, atractivo y limpio</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="block-icon">
                    <i class="fa fa-users"></i>
                </div>

                <div class="block-body">
                    <h2>
                        <b>Escalabilidad</b>
                    </h2>
                    <div class="line-subtitle"></div>
                    <p>Aplicaciones con una gran
                        <b>calidad de código</b> y una estructura de
                        <b>base de datos optimizada</b>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="block-icon">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                </div>

                <div class="block-body">
                    <h2>
                        <b>Seguridad</b>
                    </h2>
                    <div class="line-subtitle"></div>
                    <p>Desarrollo de
                        <b>aplicaciones seguras</b>, orientadas a la seguridad y la intregridad de la plataforma</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="block-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="block-body">
                    <h2>
                        <b>Rendimiento</b>
                    </h2>
                    <div class="line-subtitle"></div>
                    <p>Código de gran
                        <b>calidad y buenas pautas</b> favorecen un gran rendimiento</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="block-icon">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                </div>

                <div class="block-body">
                    <h2>
                        <b>Open Source</b>
                    </h2>
                    <div class="line-subtitle"></div>
                    <p>
                        <b>Pasión</b> por el Open Source y las tecnologías punteras
                        <br/>Obsesión por estar al
                        <b>filo de la actualidad en desarrollo</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>