<ion-content>
    <app-breadcrumb [title]="'Blog'"></app-breadcrumb>

    <div class="container container-int">

        <div class="row">

            <div class="col-md-8 col-sm-8">
                <div class="post">
                    <h2 class="post-title">
                        <a>title</a>
                    </h2>
                    <h4 class="post-title">
                        <a>subtitle</a>
                    </h4>
                    <p class="post-meta">
                        <i class="fa fa-calendar-o first"></i> created_at
                        <i class="fa fa-user"></i> Admin
                        <i class="fa fa-comment"></i>
                        <a href="#">0 comentarios</a>
                        <i class="fa fa-folder-open-o"></i> category
                    </p>
                    <a href="" class="img-post">
                        <img src="" alt="" class="img-responsive">
                    </a>
                    <p style="word-wrap: break-word;"></p>
                    <a class="btn btn-primary" href="">Seguir leyendo
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

                <div class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 sidebar">
                <div class="well">
                    <h4>Buscar</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.well -->

                <div class="well">
                    <h4>Categorías</h4>
                    <ul class="nav nav-stacked nav-pills">
                        <li>
                            <a href="#">Angular</a>
                        </li>
                        <li>
                            <a href="#">Android</a>
                        </li>
                        <li>
                            <a href="#">iOS</a>
                        </li>
                        <li>
                            <a href="#">Ionic</a>
                        </li>
                        <li>
                            <a href="#">Laravel</a>
                        </li>
                        <li>
                            <a href="#">Maquetación</a>
                        </li>
                        <li>
                            <a href="#">Java & Spring</a>
                        </li>
                    </ul>
                </div>
                <!-- /.well -->


                <ul class="nav nav-tabs" id="widgetTab">
                    <li class="active">
                        <a href="#latest-news" data-toggle="tab">Recientes</a>
                    </li>
                    <li>
                        <a href="#popular-news" data-toggle="tab">Populares</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active list-posts" id="latest-news">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fa fa-caret-right"></i> recent title</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade list-posts" id="popular-news">
                        <ul>
                            <li>
                                <a href="">>
                                    <i class="fa fa-caret-right"></i> recent title</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="well">
                    <h4>Tags</h4>
                    <div class="tags">
                        <a href="#">tag</a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</ion-content>