<div class="section-colored home">

    <div class="container">

        <div class="row">
            <div class="col-md-9 col-sm-8">
                <h2>“Si tú no trabajas por tus sueños, alguien te contratará para que trabajes por los suyos”</h2>
                <h4 class="steve-jobs-name">Steve Jobs</h4>
            </div>
            <div class="col-md-3 col-sm-4">
                <a *ngIf="!isAuthenticated" href="javascript:;" (click)="navigateLogin()" class="btn btn-danger btn-lg">Iniciar sesión</a>
                <a *ngIf="isAuthenticated" href="javascript:;" (click)="navigateAdminHome()" class="btn btn-danger btn-lg">Administración</a>
            </div>
        </div>

    </div>

</div>