.post-subtitle p {
    line-height: 30px;
}

.detail-text {

    line-height: 1.9;

    p {
        font-size: 1.3em;
        text-align: justify;
        color: color($colors, dark-medium, base);
        line-height: 1.4;
    }

    small {
        color: color($colors, dark-light, base);
    }

    div {
        font-size: 1em;
    }
}