.post-subtitle p {
    line-height: 30px;
}

.detail-text {

    p {
        font-size: 1.1em;
        text-align: justify;
        color: color($colors, dark-medium, base);
        line-height: 1.4;
    }

    small {
        color: color($colors, dark-light, base);
    }

    pre {
        white-space: pre;
        overflow: scroll;
    }

    div {
        font-size: 1em;
        overflow: scroll;
        white-space: pre;
        border-left: solid 10px color($colors, green-main, base);
    }
}