<h3>Contacto</h3>
<p>Solicita información sin compromiso</p>

<form role="form" method="POST" action="contact-form-submission.php">
    <div class="row">
        <div class="form-group col-md-12">
            <label for="input1">Nombre*</label>
            <input type="text" name="contact_name" class="form-control" id="input1">
        </div>
        <div class="form-group col-md-12">
            <label for="input2">Email*</label>
            <input type="email" name="contact_email" class="form-control" id="input2">
        </div>
        <div class="form-group col-md-12">
            <label for="input3">Móvil</label>
            <input type="phone" name="contact_phone" class="form-control" id="input3">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
            <label for="input4">Mensaje*</label>
            <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
        </div>
        <div class="form-group col-lg-12">
            <input type="hidden" name="save" value="contact">
            <button type="submit" class="btn btn-primary pull-right">Enviar</button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>