<div [ngSwitch]="codepenId">
    <iframe *ngSwitchCase="'BxVWWJ'" height='260' scrolling='no' title='BxVWWJ' src='//codepen.io/josepol/embed/BxVWWJ/?height=260&theme-id=0&default-tab=js&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/josepol/pen/BxVWWJ/'>BxVWWJ</a> by josepol (<a href='https://codepen.io/josepol'>@josepol</a>) on <a href='https://codepen.io'>CodePen</a>
    </iframe>
    <iframe *ngSwitchDefault height='260' scrolling='no' title='xxx' src='//codepen.io/josepol/embed/xxxx/?height=260&theme-id=0&default-tab=js&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'> by josepol (<a href='https://codepen.io/josepol'>@josepol</a>) on <a href='https://codepen.io'>CodePen</a>
    </iframe>
</div>