<div class="well">
    <h4>Categorías</h4>
    <ul class="nav nav-stacked nav-pills">
        <li>
            <a href="#">Angular</a>
        </li>
        <li>
            <a href="#">Android</a>
        </li>
        <li>
            <a href="#">iOS</a>
        </li>
        <li>
            <a href="#">Ionic</a>
        </li>
        <li>
            <a href="#">Laravel</a>
        </li>
        <li>
            <a href="#">Maquetación</a>
        </li>
        <li>
            <a href="#">Java & Spring</a>
        </li>
    </ul>
</div>